<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<div class="container" ng-app="lyrric">
  <h1>Fact or Fiction?</h1>

  <div ng-controller="statementsController">
    <ul ng-repeat="statement in statements">
          <li>{{ statement.title }}</li>
          <li>{{ statement.user_id }}</li>
          <li>{{ statement.votes }}</li>
    </ul>
  </div>
</div>

<ng-view></ng-view>
