  <div id="page" ng-cloak ng-app='lyrric' ng-controller="mainController" ng-swipe-left="showMenu = true">
       <h1>Home Page</h1>

      <div class="menu-grip box" ng-show="!showMenu" ng-click="showMenu = true">.<br />.<br />.</div>
      <nav class="menu box" ng-show="showMenu" ng-swipe-right="showMenu = false">
          <ul>
              <li class="menu_item" ng-repeat='nav in navigation'><a class="menu_link" ng-href="{{nav.href}}">{{nav.title}}</a>
              </li>
          </ul>
      </nav>
      <div class="big-swiper box" ng-swipe-right="next($event)" ng-swipe-left="prev($event)">{{index}}</div>
  </div>
