<p>
<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home Page</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/statements"><i class="fa fa-shield"></i> Statements</a></li>
        <li><a href="#/votes"><i class="vote"></i> Votes</a></li>
      </ul>
    </div>
  </nav>
</header>
<body ng-controller="mainController">

  <div id="main">

  </div>
